.containeR{
    position: fixed;
    top: 5%;
    right: 45%;

    z-index: 5;
}

.messageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.685);
    position: relative;
}

.messageBox h3{
    color: #fff;
}

.closePopup{
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 3%;
    left: 1%;
    cursor: pointer;
}

@media screen and (max-width:960px) {
    .containeR{
        top: 32%;
        right: 20%;
    }
}